@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #312e28;
  --color-fg: #e6d7b8;
  --color-url: #bb4444;
}

@font-face {
  font-family: Berkeley;
  src: url("/berkeley.woff2");
  font-weight: 100 900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Berkeley, sans-serif;
  background: var(--color-bg);
  color: var(--color-fg);
  font-weight: 100;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
